#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body,
a,
ul,
li,
p,
h1,
h2 h3,
h4,
h5,
h6,
img {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
